/* ==========================================================================
   #BLOCK
   ========================================================================== */

/**
 * Stacked image-with-text object. A simple abstraction to cover a very commonly
 * occurring design pattern.
 */

.o-block {
  display: block;
  text-align: center;
}


.o-block__body {
  display: block;
}




/* Size variants.
   ====================================================================== */
@each $name, $value in $global-spacing-sizes {

  .o-block#{$name} > .o-block__img {
    margin-bottom: #{$value};
  }

}





/* Alignment variants.
   ========================================================================== */

.o-block--right {
  text-align: right;
}

.o-block--left {
  text-align: left;
}
