/* ==========================================================================
   #BOX
   ========================================================================== */

/**
 * Elementary box cosmetic styling.
 * In this website there are 2 main 'boxes' - regular and clean.
 * Each gets his own basic configuration.
 *
 * 1. Set relative for media, if need be.
 * 2. Create new stacking context for media's negative z-index.
 */

.o-box {
  padding: var(--box-spacing);
  background-color: $color-white;
  border-radius: $global-radius;
  box-shadow: $global-shadow;
  position: relative; /* [1] */
  text-align: center;
  z-index: z(default); /* [2] */
}


/**
 * Box media is presented as an underlying overlay.
 * Usually with backdrop.
 *
 * 1. Make clear edges of the overlays.
 * 2. Show all the elements above the media, if need be.
 */

.o-box__media {
  @extend .u-pos--stretch;
  overflow: hidden; /* [1] */
  z-index: z(under); /* [2] */
}


/**
 * Inside elements should give some space.
 * Note that in flex mode, there is no margin collapse!
 */

.o-box__header,
.o-box__body,
.o-box__footer {
  margin: var(--box-spacing);
}


/**
 * A box without any design.
 */

.o-box--clean {
  background: transparent;
  border-radius: 0;
  box-shadow: none;
}
