/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles
 *    (often necessary when styling `input`s as buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */

.o-btn {
  border-radius: $global-radius;
  cursor: pointer; /* [5] */
  display: inline-block; /* [1] */
  font: inherit; /* [3] */
  margin: 0; /* [4] */
  text-align: center; /* [4] */
  transition: $global-transition;
  vertical-align: middle; /* [2] */

  &:hover { filter: brightness(90%); }
  &.is-active { filter: brightness(80%); }
}





/* Size variants
   ========================================================================== */

@each $name, $value in $global-spacing-sizes {

  .o-btn#{$name} {
    padding: #{$value / 2} #{$value};
  }

}





/* Ghost buttons
   ========================================================================== */

/**
 * Ghost buttons have see-through backgrounds and are bordered.
 *
 * 1. Inherit text color using the magical 'currentColor'.
 */

$btn-ghost-border-width: 1px;

.o-btn--ghost {
  border-width: $btn-ghost-border-width;
  border-color: currentColor; /* [1] */
  border-style: solid;

  &,
  &:hover,
  &:active,
  &:focus {
    background: none;
  }
}
