/* ==========================================================================
   # Form Fields
   ========================================================================== */

:root {
  --form-field-border-radius: #{$global-radius};
  --form-field-border: #{$global-border};
  --form-field-spacing: #{spacing("small")};
}

/**
 * 1. Prepare to absolute position items, E.g. hint/dropdown etc.
 */

.o-field {
  position: relative; /* [1] */
}





/* Field Header
   ========================================================================== */

.o-field__header {
  margin-bottom: var(--form-field-spacing);
}





/* Field Body
   ========================================================================== */

/**
 * 1. Background color, if any, is applied on the o-field/o-field__group.
 * 2. inherit the color from the inverted bg, or from text.
 */

.o-field__input {
  border: var(--form-field-border);
  padding: var(--form-field-spacing);
  background: transparent; /* [1] */
  color: inherit; /* [2] */
}


/**
 * Field Group Styling.
 * Prefix/Suffix can either be more input fields, icons or just plain text.
 *
 * 1. Apply border on group instead of children.
 * 2. All children element are likely to have the same padding.
 *    Can be adjusted in size variants.
 * 3. Inherit proper border radius to first/last children to prevent overflow.
 *    Also remove others, in case they are declared elsewhere (E.g. o-btn).
 * 4. Apply border between inner group elements, if need be.
 * 5. Button/Submit should keep their border radius and well as bigger right/left pad.
 * 6. Input should always stretch for the remaining width, if any. EXPERIMENTAL.
 */

.o-field__group {
  display: flex;
  align-items: stretch;
  border: var(--form-field-border); /* [1] */
  border-radius: var(--form-field-border-radius);

  > * {
    padding: var(--form-field-spacing); /* [2] */
    border: 0; /* [1] */
  }


  > :first-child { /* [3] */
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: 0;
    border-top-left-radius: inherit;
    border-top-right-radius: 0;
  }


  > :last-child { /* [3] */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: inherit;
  }


  > .o-btn { /* [5] */
    padding-right: calc(var(--form-field-spacing) * 2);
    padding-left: calc(var(--form-field-spacing) * 2);
    border-radius: inherit;
  }


  > .o-field__input { flex: 1; } /* [6] */
}


.o-field__group--bordered {
  > :not(:last-child) { border-right: inherit; } /* [4] */
}


/**
 * Field Input Styling.
 * It should get the same values as part of an input group (padding/border),
 * but added to the negated rule as a matter of convenience.
 *
 * 1. Apply border radius when not part of a field group.
 */

:not(.o-field__group) > .o-field__input {
  border-radius: var(--form-field-border-radius); /* [1] */
}


/**
 * Prefix and suffix basic design.
 */

.o-field__prefix,
.o-field__suffix {
  background: inherit;
}





/* Field Dropdowns
   ========================================================================== */

/**
 * Field dropdowns are siblings to either o-field__input or o-field__group,
 *
 * 1. Hide initially. Triggered either w/ JS or hover.
 * 2. Position just below, above and give full width.
 */

.o-field__dropdown {
  border: var(--form-field-border);
  display: none; /* [1] */
  padding: var(--form-field-spacing);

  position: absolute; /* [2] */
  top: 100%; /* [2] */
  width: 100%; /* [2] */
  z-index: z(dropdown); /* [2] */
}

.o-field__option {
  padding: calc(var(--form-field-spacing) / 2);
  text-align: left;
}


/**
 * Autocomplete hint while typing.
 */

.o-field__hint { color: currentColor; }





/* Field Footer
   ========================================================================== */

/**
 * The field footer contains misc information like character count and hints/errors.
 *
 * 1. Give margin top because footer is not always present.
 */

.o-field__footer {
  align-items: center;
  display: flex;
  margin-top: calc(var(--form-field-spacing) / 2); /* [1] */
}


/**
 * Show the validation over the input
 * 1. Don't jump when showing the hint, in case there aren't other elements
 *    to fill the footer space.
 */

.o-field__help {
  position: absolute; /* [1] */
  margin-top: #{spacing("tiny")};
}


/**
 * 1. Have counter always to the right.
 */

.o-field__counter { margin-left: auto; } /* [1] */





/* Color variants
   ========================================================================== */

@each $name, $value in $global-colors {

  .o-field--#{$name} {
    border-color: $value;

    + .o-field__help { color: $value; }
  }

}
