/* ==========================================================================
   #SECTION
   ========================================================================== */

:root {
  --section-spacing: #{$global-spacing-unit};
}

.o-section {
  @extend .u-rhythm;

  padding-bottom: var(--section-spacing);
  padding-top: var(--section-spacing);
}
