/* ==========================================================================
   #IMAGES
   ========================================================================== */

/**
 * Define image utilities such as square sizes and rounded images.
 * This could apply to images as well as SVGs as a generic approach using
 * global-spacing-sizes, added the ADDITIONAL, more specific, image-sizes map.
 */

$image-sizes: (
  "valid":   16px,
  "icon":    30px,
  "avatar":  50px,
  "thumb":   120px,
  "logo":    160px
) !default;

.u-img {
  height: #{spacing()};
  width: #{spacing()};
}





/* #SIZE VARIANTS
   -------------------------------------------------------------------------- */

$merged-image-sizes: map-merge($image-sizes, $global-spacing-sizes);

@each $name, $value in $image-sizes {

  .u-img--#{$name} {
    height: $value;
    width: $value;
  }

}





/* #STYLE VARIANTS
   -------------------------------------------------------------------------- */

.u-img--round {
  border-radius: 50%;
}
