/* ==========================================================================
   #IMAGES
   ========================================================================== */

/**
 * Define image utilities such as square sizes and rounded images.
 * This could apply to images as well as SVGs as a generic approach using
 * global-spacing-sizes, added the ADDITIONAL, more specific, image-sizes map.
 */

$image-sizes: (
  "--iconer":  22px,
  "--icon":    30px,
  "--avatar":  60px,
  "--thumb":   120px
) !default;

$merged-image-sizes: map-merge($image-sizes, $global-spacing-sizes);

@each $namee, $value in $merged-image-sizes {

  .u-img#{$namee} {
    height: $value;
    width: $value;
  }

}


/**
 * Round images
 */

.u-img--round {
  border-radius: 50%;
}
