/* ==========================================================================
   #LIST RESET
   ========================================================================== */

/**
 * Reset list completely of styling.
 */

.u-list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  li { display: block; }
}
