/* ==========================================================================
   #POSITION
   ========================================================================== */

/**
 * There are many use cases for absolute positioning,
 * usually either to a specific edge or stretching all over.
 * specific edges (I.E. top left) are left oncovered but can easily be
 * added (by having adjecant classes negate the transform rule).
 */

.u-pos {
  position: absolute;
}





/* Location variants
   ========================================================================== */

/**
 * Top/Bottom Rules.
 * Possible to add width using width utility (E.g. .u-1/1).
 */

.u-pos--top,
.u-pos--bottom {
  transform: translateX(-50%);
  left: 50%;
}

.u-pos--top { top: 0; }
.u-pos--bottom { bottom: 0; }


/**
 * Let/Right Rules.
 */

.u-pos--left,
.u-pos--right {
  transform: translateY(-50%);
  top: 50%;
}

.u-pos--left { left: 0; }
.u-pos--ight { right: 0; }


/**
 * Absolute Center.
 */
.u-pos--center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/**
 * Stretch Rule. Also as overlay.
 */

.u-pos--stretch {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
