/* ==========================================================================
   #POSITION
   ========================================================================== */

/**
 * There are many use cases for absolute positioning,
 * usually either to a specific edge or stretching all over.
 * specific edges (I.E. top left) are left oncovered but can easily be
 * added (by having adjecant classes negate the transform rule).
 */

.u-pos {
  position: absolute;
}





/* Location variants
   ========================================================================== */

/**
 * Horizontal Center.
 */

.u-pos--horizontal {
  @extend .u-pos;
  transform: translateX(-50%);
  left: 50%;
}


/**
 * Vertical Center.
 */

.u-pos--vertical {
  @extend .u-pos;
  transform: translateY(-50%);
  top: 50%;
}


/**
 * Perfect Center.
 */
.u-pos--center {
  @extend .u-pos;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/**
 * Stretch Rule. Also as overlay.
 */

.u-pos--stretch {
  @extend .u-pos;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
