/* ==========================================================================
   #RHYTHM
   ========================================================================== */

/**
 * Adding some vertical rhythm for elements it's not obvious for.
 */

@each $name, $value in $global-spacing-sizes {

  .u-rhythm#{$name} {
    > *:not(:last-child) {
      margin-bottom: $value;
    }
  }

}
