/* ==========================================================================
   #FORM
   ========================================================================== */

/**
 * Default styling for various form elements.
 *
 * 1. Generally speaking, always fit form elements to full width,
 *    unless otherwise specified (e.g. width utilities).
 * 2. Other normalizing resets.
 */

input, textarea {
  width: 100%; /* [1] */
  appearance: none; /* [2] */
  font: inherit; /* [2] */
  outline: 0; /* [2] */
}

/**
 * 1. Remove resize option from browser. Who use that anyway?
 * 2. Remove weird bottom spacing that happen occasionally.
 */

textarea {
  resize: none; /* [1] */
  display: block; /* [2] */
}
