// ==========================================================================
// #DEFAULT VARIABLES
// ==========================================================================

// The default settings file contains default project-wide variables;
// things that need to be made available to the entire codebase.
//
// Adjusting these defaults should be in a new file, with care to other scss
// files who might depend on them.





// ==========================================================================
// #UI
// ==========================================================================

// General UI values such as box shadow, border radius and transitions are
// set here. They are a common set of values we expect to use in the project,
// otherwise defined per-componenet.

$global-border:           1px solid currentColor !default;
$global-radius:           10px !default;
$global-transition:       all 300ms ease-in-out !default;
$global-shadow:           0 8px 5px rgba($color-black, .1) !default;
$global-text-shadow:      0 2px 4px rgba($color-black, .5) !default;
