// ==========================================================================
// #DEFAULT VARIABLES
// ==========================================================================

// The default settings file contains default project-wide variables;
// things that need to be made available to the entire codebase.
//
// Adjusting these defaults should be in a new file, with care to other scss
// files who might depend on them.

// ==========================================================================
// #COLORS
// ==========================================================================

// Color variable naming is a challenge. Simple 'green-yellow' or 'color-error'
// proves to be error prone and clutters the code base.
// Generic color naming, later assigned to 'roles' in colors utilities might
// be a fair enough solution.
// https://davidwalsh.name/sass-color-variables-dont-suck

$color-black:              #000000 !default;
$color-gray-mineshaft:     #252525 !default;
$color-gray-boulder:       #757575 !default;
$color-gray-hit:           #a1adb5 !default;
$color-gray-gallery:       #eaeaea !default;
$color-gray-concrete:      #f2f2f2 !default;
$color-white:              #ffffff !default;

$color-blue-dodger:        #00b4ff !default;
$color-blue-moody:         #7c88cf !default;
$color-blue-space:         #313d41 !default;
$color-green-atlantis:     #8bd738 !default;
$color-green-emerald:      #41d56a !default;
$color-green-olivine:      #9ab973 !default;
$color-orange-grenadier:   #d5460f !default;
$color-red-guardsman:      #ba0101 !default;
$color-yellow-lace:        #fdf6e3 !default;
$color-yellow-sun:         #fdcd3b !default;





// ==========================================================================
// #UI
// ==========================================================================

// General UI values such as box shadow, border radius and transitions are
// set here. They are a common set of values we expect to use in the project,
// otherwise defined per-componenet.

$global-border:           1px solid currentColor !default;
$global-radius:           10px !default;
$global-transition:       all 300ms ease-in-out !default;
$global-shadow:           0 8px 5px rgba($color-black, .1) !default;
$global-text-shadow:      0 2px 4px rgba($color-black, .5) !default;





// ==========================================================================
// #TYPOGRAPHY
// ==========================================================================

// Typography values set the default for text needs. Mostly font families,
// font sizes and line height. Headings sizes are set in headings utility,
// and text color are in color utility.

$global-font-family:       'Lato', sans-serif !default;
$global-font-family-bold:  'Montserrat', sans-serif !default;
$global-font-size:         16px !default;
$global-line-height:       24px !default;

$global-weight-light:      300 !default;
$global-weight-semibold:   500 !default;





// ==========================================================================
// #SIZES
// ==========================================================================

// Spacing values are determined based on your project’s global line height (i.e
// your baseline grid). It is not recommended that you modify these following
// variables (it can break your vertical rhythm), but if you need to, you can.

$global-spacing-unit:         $global-line-height !default;
$global-spacing-unit-tiny:    round($global-spacing-unit * 0.25) !default;
$global-spacing-unit-small:   round($global-spacing-unit * 0.5) !default;
$global-spacing-unit-large:   round($global-spacing-unit * 2) !default;
$global-spacing-unit-larger:  round($global-spacing-unit * 3) !default;
$global-spacing-unit-huge:    round($global-spacing-unit * 4) !default;
$global-spacing-unit-huger:   round($global-spacing-unit * 5) !default;

$global-spacing-sizes: (
  null:        $global-spacing-unit,
  '--tiny':    $global-spacing-unit-tiny,
  '--small':   $global-spacing-unit-small,
  '--large':   $global-spacing-unit-large,
  '--larger':  $global-spacing-unit-larger,
  '--huge':    $global-spacing-unit-huge,
  '--huger':   $global-spacing-unit-huger,
  '--flush':   0
) !default;
