/* ==========================================================================
   # Modal
   ========================================================================== */

/* Modal - Overlay
  ========================================================================== */

.c-modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: rgba($color-black, .2);
  display: none;
  z-index: z(overlay);
}
