// https://css-tricks.com/molten-leading-css/

@import 'mq';
@import 'strip-unit';

@mixin responsive-spacing (
  $selector,
  $min-spacing: $global-line-height / 2,
  $max-spacing: $global-line-height,
  $min-width: tablet,
  $max-width: desktop
  ) {

  $min-width-value: strip-unit(mq-get-breakpoint-width(#{$min-width}));
  $max-width-value: strip-unit(mq-get-breakpoint-width(#{$max-width}));
  $min-spacing-value: strip-unit($min-spacing);
  $max-spacing-value: strip-unit($max-spacing);

  #{$selector}: #{$min-spacing-value}px;

  @include mq($min-width, $max-width) {
    #{$selector}: calc(#{$min-spacing-value}px + #{$max-spacing-value - $min-spacing-value} * (100vw - #{$min-width-value}px) / #{$max-width-value - $min-width-value} );
  }

  @include mq($max-width) {
    #{$selector}: #{$max-spacing-value}px;
  }

}
