// ========================================================================
// #Z-INDEX
// ========================================================================

// Mixin to ease the use of z-index.
// https://css-tricks.com/handling-z-index/
// https://philipwalton.com/articles/what-no-one-told-you-about-z-index/

$z-layers: (
  under: -1,
  default: 1,
  dropdown: 1000,
  dropdown-btn: 1001,
  tooltip: 2000,
  drawer: 3000,
  nav: 3500,
  nav-btn: 3501,
  overlay: 4000,
  modal: 4001
) !default;

@function z($key) {
  @if map-has-key($z-layers, $key) {
    @return map-get($z-layers, $key);
  }

  // @warn 'Unknown `#{$key}` in $z-layers.';
  @return null;
}
